.login_page{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
  font-weight:bold;

}
.primary{
  cursor: pointer;
}